/* body {
    overflow-x: hidden;
    overflow-y: hidden;
} */

#page-landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffe1;
    background: #0EA8B9;
}

.logo-container {
    text-align: center;
    position: relative;
    margin-bottom: 3.2rem;
    top: 10rem;
}

.logo-container img {
    height: 30rem;
}

.logo-container h1 {
    position: relative;
    font: 400 2.0rem Raleway;
    top: -25rem;
    font-size: 6rem;
    display: block;
}

.logo-container h2 {
    display: block;
    text-align: center;
    font: 400 2.0rem Raleway;
    position: relative;
    top: -26rem;
    font-size: 8rem;
    color: rgb(78, 77, 77);
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
    position: relative;
    top: -5rem;
}

.buttons-container a {
    width: 25rem;
    height: 10rem;
    border-radius: 8rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: backgroud-color 0.2s;
}


/* distanciamento dos botões */

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a.servicos {
    background: #F23322;
}

.buttons-container a.enviar {
    background: var(--color-secundary);
}

.buttons-container a.servicos:hover {
    background: #f33933d0;
}

.buttons-container a.enviar:hover {
    background: var(--color-secundary-dark);
}


/* desktop */

@media(min-width: 1100px) {
    #pages-landing-content {
        max-width: 1100px;
        /* determina onde cada elemento vai se posicionar */
        display: grid;
        grid-template-rows: 300px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "logo hero hero" "buttons buttons total";
    }
    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }
    .logo-container h1 {
        text-align: center;
        font-size: 7rem;
        right: 2.5rem;
        top: -28rem;
    }
    .logo-container h2 {
        text-align: center;
        font-size: 8rem;
        right: 2rem;
        top: -29rem;
    }
    .logo-container img {
        height: 35rem;
    }
    .hero-image {
        grid-area: hero;
        justify-self: end;
    }
    .buttons-container {
        grid-area: buttons;
        position: relative;
        left: 30rem;
        top: 2rem;
    }
    .buttons-container a {
        font-size: 2.4rem;
    }
}